# JetBrains IDE specific
.idea/

# Exclude databases
.Container/databases/configuration_data/mysql/
.Container/databases/sensor_data/mysql/
.Container/databases/user/mysql/

# Exclude ssl certificates
.Container/rest/ssl/

# Exlude macOS specific stuff
.DS_Store
Container/.DS_Store