# JetBrains IDE specific
**.idea/

# Exclude databases
Container/databases/*/mysql/
*.mwb.bak

# Exclude ssl certificates
*.pem
*.key
*.csr
Container/letsencrypt

# Exlude macOS specific stuff
*.DS_Store
