# JetBrains IDE specific
**.idea/
**target/

# MacOS specific stuff
*.DS_Store

# Logs
*.log

# Databases
Container/databases/*/mysql/
*.mwb.bak
*.db

# SSL certificates
*.pem
*.key
*.csr
Container/letsencrypt

# Passwords
Container/mqtt/config/password.txt
