# This file contains the environment variables for the traefik service
# Do not commit .env files to VCS

# This file must be in the same directory as the docker-compose.yml file
# Otherwise the whole traefik service cannot function

# Traefik authentication
CERT_EMAIL=mail@mail.com
DASHBOARD_AUTH=htdigest

# Services
AUTH_PORT=port
REST_PORT=port
WEB_PORT=port

# Domains
TRAEFIK_DOMAIN=traefik.example.com
API_DOMAIN=api.example.com
WEB_DOMAIN=example.com

## Prefixes
AUTH_PREFIX=/auth
REST_PREFIX=/rest